@import 'src/styles/variables';
@import 'src/styles/mixins';

.user-item {
  @include flex-horizontal-center;
  padding: 7px 15px;
  background-color: $bg-block;
  border-radius: 13px;
  color: $white;
  font-size: 17px;

  &:disabled {
    cursor: default;
  }

  &:not(:disabled) {
    @include transition(background-color);

    &:hover {
      background-color: lighten($gray, 7%);
    }
  }

  &.gray {
    background-color: $gray;
  }

  > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }

  > span {
    margin-left: 5px;
  }
}
