@import 'src/styles/variables';
.notification {
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgb(255 74 74);
  border-radius: $radius;
  padding: 0.7rem 1.4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: default;
  z-index: 5;
  display: none;
  animation: slideIn 1s;
  &.error,
  &.success {
    display: block;
  }
  &.success {
    background-color: #2e8677;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
