.fade-in {
	animation: fadeIn 0.9s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bounce {
	animation: bounce 0.7s;
}

@keyframes bounce {
	from {
		transform: scale(0.2);
	}

	60% {
		transform: scale(1.4);
	}

	to {
		transform: scale(1);
	}
}

.rotate {
	animation: rotate 1.2s;
}

@keyframes rotate {
	from {
		transform: rotate(58deg);
	}

	60% {
		transform: rotate(-40deg);
	}

	to {
		transform: rotate(0);
	}
}
