@import 'src/styles/mixins';

.transfer-field {
  @include flex-horizontal-center;
  margin-bottom: 1.2rem;

  > label {
    margin-bottom: 0;
    border-radius: 0.7rem 0 0 0.7rem;
  }

  > button {
    padding: 15.9px 10px;
    border-radius: 0 0.7rem 0.7rem 0;
    width: 115px;
  }
}
