@import 'src/styles/variables';
@import 'src/styles/mixins';

.logout {
  > button {
    @include transition(color);
    background-color: $bg-block;
    border: none;
    border-radius: 50%;
    color: lighten($text-gray, 15%);
    width: 40px;
    height: 40px;
    padding: 2px;

    &:hover {
      color: $white;
    }

    > svg {
      width: 22px;
      height: 22px;
    }
  }
}
